<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Tutorial</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


<body>

<div id="navbar">
    <h1> {{title}}</h1>
</div>

<div class="container">
    {% if updatetodo %}
    <form style="margin-top:50px;margin-bottom:30px" action="{{ url_for('.update',id=updatetodo.id) }}" class="form-group-mt-8 form-inline" method="POST" >
    <input  type="text" name="task" class="form-contron form-control-lg m-2" placeholder="Enter Task" value="{{updatetodo.task}}" required>
    <button style="position:relative;left:15px" type="submit" class="btn btn-md btn-primary">update</button>
</form>
{% else %}
<form style="margin-top:50px;margin-bottom:30px" action="{{url_for('.add')}}" class="form-group-mt-8 form-inline" method="POST" >
    <input  type="text" name="task" class="form-contron form-control-lg m-2" placeholder="Enter Task" required>
    <button style="position:relative;left:15px" type="submit" class="btn btn-md btn-primary">Add Task</button>
</form>

{% endif %}
</div>

<div class="container" style="background-image:url('/Users/narasimman/Downloads/qwe.jpg') ;">
    <table class="table text-center tabel-bordered">
        <tr>
            <th class="text-center">
                Id
            </th>
            <th class="text-center">
                Task Name
            </th>
            <th class="text-center">
                Date
            </th>
            <th class="text-center"> 
                Action
            </th>
        </tr>
        {% for todo in getdata %}
        <tr>
            <td>{{todo.id}}</td>
            <td>{{todo.task}}</td>
            <td>{{todo.date}}</td>
            <td>
                <a class="btn btn-success mr-2" href="{{url_for('.update',id=todo.id)}}">update</a>
                <a class="btn btn-warning ml-2" href="{{url_for('.delete',id=todo.id)}}">delete</a>
            </td>
        </tr>
        {% endfor %}
       
    </table>

</div>
   
    
</body>
</html>